In [69]:
import collections

import numpy as np
import pandas as pd
from scipy.stats import binom, hypergeom
from statsmodels.sandbox.stats.multicomp import multipletests

from tqdm.auto import tqdm

#from bioinf_common.tools import multipletests_nan

from tad_helper_functions import get_tad_lengths, EmptyTAD, TADTooSmall, OverlappingTADs
from typing import Any, Optional, List, Sequence
import statsmodels.api as sm

In [2]:
def multipletests_nan(pval_list: List, method: str = 'fdr_bh') -> List:
    """Multiple testing correction on lists with NaNs."""
    pval_list = np.asarray(pval_list)

    nan_idx, = np.where(np.isnan(pval_list))
    pval_list_nonan = pval_list[~np.isnan(pval_list)]

    if len(pval_list_nonan) == 0:
        assert np.isnan(pval_list).all()  # contains only np.nan
        pval_corr = pval_list
    else:
        _, pval_corr, _, _ = multipletests(pval_list_nonan, method=method)
        for i in nan_idx:
            pval_corr = np.insert(pval_corr, i, np.nan)

    return pval_corr

# Parameters

In [37]:
db_fname = '../../results/databases/per_source/snpdb.Rao2014-IMR90-MboI-allreps-filtered-10kb.5.csv'
tads_fname = '../../results/tads/data/tads.Rao2014-IMR90-MboI-allreps-filtered-10kb.5.csv'
info_fname = '../../results/hic_files/info.csv'

source = 'Rao2014-IMR90-MboI-allreps-filtered-10kb'
filter_type = 'exonic'
tad_borders = {'50in': [50000, 0]}
allow_snp_multiplicity_in_enrichment = False
enrichment_distribution = 'hypergeom'
enrichment_null_model = 'base_sample'

#fname_out = snakemake.output.fname

# Load data

In [38]:
df = pd.read_csv(db_fname)
display(df.head())

disease_cancer_map = df.set_index('diseaseId').to_dict()['is_cancer']

,diseaseId,snpId,snp_source,diseaseIdType,odds_ratio,associated_genes,diseaseLabel,is_cancer,chromosome_hg19,chromosome_hg38,...,filter_nofilter_hg38,filter_exonic_hg19,filter_exonic_hg38,filter_intronic_hg19,filter_intronic_hg38,filter_intergenic_hg19,filter_intergenic_hg38,filter_nonexonic_hg19,filter_nonexonic_hg38,50in
0,EFO_0004278,rs190759,gwas_catalog,EFO,1.11,NaN,sudden cardiac arrest,False,6,6,...,True,False,False,False,False,True,True,True,True,tad
1,EFO_0004278,rs1823172,gwas_catalog,EFO,1.17,NaN,sudden cardiac arrest,False,12,12,...,True,False,False,False,False,True,True,True,True,border
2,EFO_0004278,rs950776,gwas_catalog,EFO,1.09,ENSG00000117971,sudden cardiac arrest,False,15,15,...,True,False,False,True,True,False,False,True,True,tad
3,EFO_0004278,rs2251393,gwas_catalog,EFO,1.13,"ENSG00000173838,ENSG00000265702",sudden cardiac arrest,False,17,17,...,True,True,True,False,False,False,False,False,False,border
4,EFO_0004278,rs944260,gwas_catalog,EFO,1.10,"ENSG00000179242,ENSG00000280641",sudden cardiac arrest,False,20,20,...,True,False,False,True,True,False,False,True,True,tad

In [39]:
df_info = pd.read_csv(info_fname, index_col=1)
genome_assembly = df_info.loc[source, 'genome_assembly']
genome_assembly

'hg19'

# Get TAD stats

In [40]:
genome_length = {
    'hg19': 2_991_688_216,  # https://www.ncbi.nlm.nih.gov/grc/human/data?asm=GRCh37.p13
    'hg38': 3_092_480_053,  # https://www.ncbi.nlm.nih.gov/grc/human/data?asm=GRCh38.p11
}[genome_assembly]

df_tads = pd.read_csv(tads_fname)
df_tads.head()

  chrname  tad_start  tad_stop
0    chr1     700000    910000
1    chr1     910000   1180000
2    chr1    1180000   1240000
3    chr1    1240000   1310000
4    chr1    1310000   1850000

In [41]:
df_tads['prev_tad_stop'] = df_tads.tad_stop.shift(1)
df_tads['next_tad_start'] = df_tads.tad_start.shift(-1)
df_tads['prev_tad_chr'] = df_tads.chrname.shift(1)
df_tads['next_tad_chr'] = df_tads.chrname.shift(-1)

In [42]:
tad_statistics = collections.defaultdict(dict)

for border_name, border_range in tqdm(tad_borders.items()):
    tad_len = 0
    border_len = 0
    chrom_lens = collections.defaultdict(list)
    for row in df_tads.itertuples():
        try:
            b1_range, tad_range, b2_range = get_tad_lengths(row, border_range)
        except (EmptyTAD, TADTooSmall, OverlappingTADs):
            continue

        tad_len += tad_range.stop - tad_range.start
        border_len += (b1_range.stop - b1_range.start) + (
            b2_range.stop - b2_range.start
        )

        chrom_lens[row.chrname].append(row.tad_stop)

    outside_len = genome_length - tad_len - border_len

    tad_statistics[border_name]['chrom'] = genome_length
    tad_statistics[border_name]['tad'] = tad_len
    tad_statistics[border_name]['border'] = border_len
    tad_statistics[border_name]['outside'] = outside_len

tad_statistics = dict(tad_statistics)
tad_statistics

  0%|          | 0/1 [00:00<?, ?it/s]

{'50in': {'chrom': 2991688216,
  'tad': 1905530000,
  'border': 860390000,
  'outside': 225768216}}

# Compute enrichments

In [48]:
filter_column = f'filter_{filter_type}_{genome_assembly}'
filter_column

'filter_exonic_hg19'

In [49]:
df[df[filter_column]]

,diseaseId,snpId,snp_source,diseaseIdType,odds_ratio,associated_genes,diseaseLabel,is_cancer,chromosome_hg19,chromosome_hg38,...,filter_nofilter_hg38,filter_exonic_hg19,filter_exonic_hg38,filter_intronic_hg19,filter_intronic_hg38,filter_intergenic_hg19,filter_intergenic_hg38,filter_nonexonic_hg19,filter_nonexonic_hg38,50in
3,EFO_0004278,rs2251393,gwas_catalog,EFO,1.130000,"ENSG00000173838,ENSG00000265702",sudden cardiac arrest,False,17,17,...,True,True,True,False,False,False,False,False,False,border
7,EFO_0004278,rs7157599,gwas_catalog,EFO,1.130000,ENSG00000168350,sudden cardiac arrest,False,14,14,...,True,True,True,False,False,False,False,False,False,tad
14,EFO_0004278,rs16872085,gwas_catalog,EFO,1.830000,ENSG00000169946,sudden cardiac arrest,False,8,8,...,True,True,False,False,True,False,False,False,True,tad
27,EFO_0004278,rs17291650,gwas_catalog,EFO,1.430000,ENSG00000123268,sudden cardiac arrest,False,12,12,...,True,True,True,False,False,False,False,False,False,border
145,EFO_0000341,rs13180,gwas_catalog,EFO,1.300000,ENSG00000136381,chronic obstructive pulmonary disease,False,15,15,...,True,True,True,False,False,False,False,False,False,border
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84826,EFO_0009382,rs9028,gwas_catalog,EFO,5.048128,ENSG00000136514,metabolically healthy obesity,False,3,3,...,True,True,True,False,False,False,False,False,False,border
84851,EFO_0009761,rs2242442,gwas_catalog,EFO,1.291753,"ENSG00000135111,ENSG00000257817",periprosthetic osteolysis,False,12,12,...,True,True,True,False,False,False,False,False,False,border
84878,EFO_0000684,rs41283642,gwas_catalog,EFO,NaN,ENSG00000106799,respiratory system disease,False,9,9,...,True,True,True,False,False,False,False,False,False,border
84906,EFO_0000684,rs10975277,gwas_catalog,EFO,NaN,"ENSG00000107036,ENSG00000099219",respiratory system disease,False,9,9,...,True,True,True,False,False,False,False,False,False,border
84919,EFO_0000684,rs1684466,gwas_catalog,EFO,NaN,ENSG00000232065,respiratory system disease,False,3,3,...,True,True,False,False,False,False,True,False,True,tad

In [50]:
df_filter_sub = df[df[filter_column]]
print(df.shape, df_filter_sub.shape)

(84920, 27) (7200, 27)

In [46]:
df_filter_sub.head()

,diseaseId,snpId,snp_source,diseaseIdType,odds_ratio,associated_genes,diseaseLabel,is_cancer,chromosome_hg19,chromosome_hg38,...,filter_nofilter_hg38,filter_exonic_hg19,filter_exonic_hg38,filter_intronic_hg19,filter_intronic_hg38,filter_intergenic_hg19,filter_intergenic_hg38,filter_nonexonic_hg19,filter_nonexonic_hg38,50in
3,EFO_0004278,rs2251393,gwas_catalog,EFO,1.13,"ENSG00000173838,ENSG00000265702",sudden cardiac arrest,False,17,17,...,True,True,True,False,False,False,False,False,False,border
7,EFO_0004278,rs7157599,gwas_catalog,EFO,1.13,ENSG00000168350,sudden cardiac arrest,False,14,14,...,True,True,True,False,False,False,False,False,False,tad
14,EFO_0004278,rs16872085,gwas_catalog,EFO,1.83,ENSG00000169946,sudden cardiac arrest,False,8,8,...,True,True,False,False,True,False,False,False,True,tad
27,EFO_0004278,rs17291650,gwas_catalog,EFO,1.43,ENSG00000123268,sudden cardiac arrest,False,12,12,...,True,True,True,False,False,False,False,False,False,border
145,EFO_0000341,rs13180,gwas_catalog,EFO,1.30,ENSG00000136381,chronic obstructive pulmonary disease,False,15,15,...,True,True,True,False,False,False,False,False,False,border

In [68]:
enr_result = []
group = df_filter_sub[df_filter_sub['diseaseId'] == 'EFO_0001645']
for border_name in tad_borders.keys():
        print(border_name)
        # get TAD-related statistics
        if allow_snp_multiplicity_in_enrichment:
            tads = group[border_name].tolist()

            snp_counts = {
                'total': df_filter_sub['snpId'].shape[0],
                'tad': df_filter_sub.loc[
                    df_filter_sub[border_name] == 'tad', 'snpId'
                ].shape[0],
                'border': df_filter_sub.loc[
                    df_filter_sub[border_name] == 'border', 'snpId'
                ].shape[0],
                'outside': df_filter_sub.loc[
                    df_filter_sub[border_name] == 'outside', 'snpId'
                ].shape[0],
            }
        else:
            tads = group[['snpId', border_name]].drop_duplicates(subset='snpId')[
                border_name
            ]

            snp_counts = {
                'total': df_filter_sub['snpId'].drop_duplicates().shape[0],
                'tad': df_filter_sub.loc[df_filter_sub[border_name] == 'tad', 'snpId']
                .drop_duplicates()
                .shape[0],
                'border': df_filter_sub.loc[
                    df_filter_sub[border_name] == 'border', 'snpId'
                ]
                .drop_duplicates()
                .shape[0],
                'outside': df_filter_sub.loc[
                    df_filter_sub[border_name] == 'outside', 'snpId'
                ]
                .drop_duplicates()
                .shape[0],
            }

        N = len(tads)
        counts = collections.Counter(tads)

        # compute enrichment
        if counts['border'] == 0:
            cdf_tad = np.nan
            cdf_border = np.nan
            cdf_outside = np.nan
        else:
            if enrichment_null_model == 'base_sample':
                # get overall lengths
                cur_cl = tad_statistics[border_name]['chrom']
                cur_tl = tad_statistics[border_name]['tad']
                cur_bl = tad_statistics[border_name]['border']
                cur_nl = tad_statistics[border_name]['outside']
                #tads = group[['snpId', border_name]][border_name]
                
                print(cur_bl, cur_cl, cur_nl, cur_tl, '\n')
                print('N: ', N, '\n')
                print('counts outside:', counts['outside'], '\n')
                print('counts border:', counts['border'], '\n')
                print('counts tad:', counts['tad'], '\n')
                print('snp counts: ', snp_counts, '\n')
                print('tads: ', tads, '\n')

                if enrichment_distribution == 'binom':
                    cdf_tad = binom.cdf(counts['tad'], N, cur_tl / cur_cl)
                    cdf_border = binom.cdf(counts['border'], N, cur_bl / cur_cl)
                    cdf_outside = binom.cdf(counts['outside'], N, cur_nl / cur_cl)
                elif enrichment_distribution == 'hypergeom':
                    cdf_tad = hypergeom.cdf(counts['tad'], cur_cl, N, cur_tl)
                    cdf_border = hypergeom.cdf(counts['border'], cur_cl, N, cur_bl)
                    cdf_outside = hypergeom.cdf(counts['outside'], cur_cl, N, cur_nl)
                    
                    print(cdf_tad, cdf_border, cdf_outside, '\n')
            elif enrichment_null_model == 'snp_sample':
                if enrichment_distribution == 'binom':
                    cdf_tad = binom.cdf(
                        counts['tad'], N, snp_counts['tad'] / snp_counts['total']
                    )
                    cdf_border = binom.cdf(
                        counts['border'], N, snp_counts['border'] / snp_counts['total']
                    )
                    cdf_outside = binom.cdf(
                        counts['outside'],
                        N,
                        snp_counts['outside'] / snp_counts['total'],
                    )
                elif enrichment_distribution == 'hypergeom':
                    cdf_tad = hypergeom.cdf(
                        counts['tad'], snp_counts['total'], N, snp_counts['tad']
                    )
                    cdf_border = hypergeom.cdf(
                        counts['border'], snp_counts['total'], N, snp_counts['border']
                    )
                    cdf_outside = hypergeom.cdf(
                        counts['outside'], snp_counts['total'], N, snp_counts['outside']
                    )

        enr_result.append(
            {
                'diseaseId': disease,
                '#snp': N,
                '#border_snp': counts['border'],
                'pval_tad': 1 - cdf_tad,
                'pval_border': 1 - cdf_border,
                'pval_outside': 1 - cdf_outside,
                'TAD_type': border_name,
            }
        )
df_enr = pd.DataFrame(enr_result)

50in
860390000 2991688216 225768216 1905530000

N:  94

counts outside: 7

counts border: 53

counts tad: 34

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  2344     border
4475     border
8904     border
9145     border
10017       tad
          ...
42689       tad
42705    border
42709    border
42724       tad
42739    border
Name: 50in, Length: 94, dtype: object

5.5732578059455974e-08 0.999999993797705 nan

In [61]:
enr_result = []
for disease, group in tqdm(
    df_filter_sub.groupby('diseaseId'), total=df_filter_sub['diseaseId'].nunique()
):
    for border_name in tad_borders.keys():
        print(border_name)
        # get TAD-related statistics
        if allow_snp_multiplicity_in_enrichment:
            tads = group[border_name].tolist()

            snp_counts = {
                'total': df_filter_sub['snpId'].shape[0],
                'tad': df_filter_sub.loc[
                    df_filter_sub[border_name] == 'tad', 'snpId'
                ].shape[0],
                'border': df_filter_sub.loc[
                    df_filter_sub[border_name] == 'border', 'snpId'
                ].shape[0],
                'outside': df_filter_sub.loc[
                    df_filter_sub[border_name] == 'outside', 'snpId'
                ].shape[0],
            }
        else:
            tads = group[['snpId', border_name]].drop_duplicates(subset='snpId')[
                border_name
            ]

            snp_counts = {
                'total': df_filter_sub['snpId'].drop_duplicates().shape[0],
                'tad': df_filter_sub.loc[df_filter_sub[border_name] == 'tad', 'snpId']
                .drop_duplicates()
                .shape[0],
                'border': df_filter_sub.loc[
                    df_filter_sub[border_name] == 'border', 'snpId'
                ]
                .drop_duplicates()
                .shape[0],
                'outside': df_filter_sub.loc[
                    df_filter_sub[border_name] == 'outside', 'snpId'
                ]
                .drop_duplicates()
                .shape[0],
            }

        N = len(tads)
        counts = collections.Counter(tads)

        # compute enrichment
        if counts['border'] == 0:
            cdf_tad = np.nan
            cdf_border = np.nan
            cdf_outside = np.nan
        else:
            if enrichment_null_model == 'base_sample':
                # get overall lengths
                cur_cl = tad_statistics[border_name]['chrom']
                cur_tl = tad_statistics[border_name]['tad']
                cur_bl = tad_statistics[border_name]['border']
                cur_nl = tad_statistics[border_name]['outside']
                #tads = group[['snpId', border_name]][border_name]
                
                print(cur_bl, cur_cl, cur_nl, cur_tl, '\n')
                print('N: ', N, '\n')
                print('counts outside:', counts['outside'], '\n')
                print('snp counts: ', snp_counts, '\n')
                print('tads: ', tads, '\n')

                if enrichment_distribution == 'binom':
                    cdf_tad = binom.cdf(counts['tad'], N, cur_tl / cur_cl)
                    cdf_border = binom.cdf(counts['border'], N, cur_bl / cur_cl)
                    cdf_outside = binom.cdf(counts['outside'], N, cur_nl / cur_cl)
                elif enrichment_distribution == 'hypergeom':
                    cdf_tad = hypergeom.cdf(counts['tad'], cur_cl, N, cur_tl)
                    cdf_border = hypergeom.cdf(counts['border'], cur_cl, N, cur_bl)
                    cdf_outside = hypergeom.cdf(counts['outside'], cur_cl, N, cur_nl)
                    
                    print(cdf_tad, cdf_border, cdf_outside, '\n')
            elif enrichment_null_model == 'snp_sample':
                if enrichment_distribution == 'binom':
                    cdf_tad = binom.cdf(
                        counts['tad'], N, snp_counts['tad'] / snp_counts['total']
                    )
                    cdf_border = binom.cdf(
                        counts['border'], N, snp_counts['border'] / snp_counts['total']
                    )
                    cdf_outside = binom.cdf(
                        counts['outside'],
                        N,
                        snp_counts['outside'] / snp_counts['total'],
                    )
                elif enrichment_distribution == 'hypergeom':
                    cdf_tad = hypergeom.cdf(
                        counts['tad'], snp_counts['total'], N, snp_counts['tad']
                    )
                    cdf_border = hypergeom.cdf(
                        counts['border'], snp_counts['total'], N, snp_counts['border']
                    )
                    cdf_outside = hypergeom.cdf(
                        counts['outside'], snp_counts['total'], N, snp_counts['outside']
                    )

        enr_result.append(
            {
                'diseaseId': disease,
                '#snp': N,
                '#border_snp': counts['border'],
                'pval_tad': 1 - cdf_tad,
                'pval_border': 1 - cdf_border,
                'pval_outside': 1 - cdf_outside,
                'TAD_type': border_name,
            }
        )
df_enr = pd.DataFrame(enr_result)

  0%|          | 0/543 [00:00<?, ?it/s]

50in
50in
860390000 2991688216 225768216 1905530000

N:  12

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  25764    border
25775       tad
25846    border
25851       tad
25860       tad
25861       tad
25865       tad
25880    border
25910    border
25923       tad
25933       tad
25958       tad
Name: 50in, dtype: object

0.6877819608145959 0.7557115934728031 nan

50in
860390000 2991688216 225768216 1905530000

N:  6

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  24104       tad
45401       tad
49883    border
49917    border
49933       tad
49934       tad
Name: 50in, dtype: object

0.7048649136919247 0.7669367754853769 nan

50in
860390000 2991688216 225768216 1905530000

N:  33

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  11517    border
11551    border
11559    border
11570       tad
11579       tad
11588       tad
11590    border
11593       tad
11605    border
11633    border
11661       tad
11671    border
11713       tad
11789       tad
11814    border
11823    border
11849    border
11891    border
11925       tad
11929       tad
11964    border
11976    border
11984       tad
11986    border
11992       tad
12014    border
12020    border
12024    border
12038    border
12092       tad
12114       tad
12128       tad
12144    border
Name: 50in, dtype: object

0.010327420613760331 0.9998622408035852 nan

50in
860390000 2991688216 225768216 1905530000

N:  2

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  80266    border
80270       tad
Name: 50in, dtype: object

0.594305692250603 0.9172899632200424 nan

50in
860390000 2991688216 225768216 1905530000

N:  3

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  33698    border
33712       tad
33716       tad
Name: 50in, dtype: object

0.7415964341352564 0.7994436808384232 nan

50in
860390000 2991688216 225768216 1905530000

N:  2

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  15987       tad
16951    border
Name: 50in, dtype: object

0.594305692250603 0.9172899632200424 nan

50in
860390000 2991688216 225768216 1905530000

N:  26

counts outside: 2

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  4155         tad
4474      border
5311      border
9143      border
11016        tad
11306     border
12297     border
13780     border
13784     border
14120        tad
37939     border
38051     border
38053     border
38062     border
38070    outside
38084        tad
38091     border
38098        tad
38102     border
38107     border
38109     border
38113    outside
38135        tad
38145        tad
38283        tad
38330        tad
Name: 50in, dtype: object

0.0024427440754363665 0.999492779787139 nan

50in
860390000 2991688216 225768216 1905530000

N:  1

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  25884    border
Name: 50in, dtype: object

0.3630586169573728 1.0 nan

50in
860390000 2991688216 225768216 1905530000

N:  32

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  31157       tad
31175    border
35764       tad
35810       tad
35873       tad
35882       tad
35884       tad
35886    border
35890       tad
35892       tad
35894       tad
35898    border
35900    border
35902       tad
35904       tad
35906       tad
35908    border
35935       tad
35937    border
35939       tad
35951    border
35953       tad
35967       tad
35989    border
35995       tad
36003    border
36013    border
36023       tad
36025    border
36027       tad
36067    border
36070    border
Name: 50in, dtype: object

0.3674238334545191 0.9495688978567657 nan

50in
860390000 2991688216 225768216 1905530000

N:  7

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  16355       tad
32579       tad
34024       tad
34028       tad
34066    border
34083    border
34087       tad
Name: 50in, dtype: object

0.7877738090456008 0.6750314547707741 nan

50in
860390000 2991688216 225768216 1905530000

N:  18

counts outside: 1

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  8905      border
9151      border
31395        tad
31550     border
39322     border
43702     border
43711     border
43734     border
43748     border
43751        tad
43826     border
43828     border
43853    outside
43877        tad
43881     border
44034        tad
44052     border
44135        tad
Name: 50in, dtype: object

0.0021174515232032115 0.9998319448707194 nan

50in
50in
860390000 2991688216 225768216 1905530000

N:  3

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  9889     border
57443    border
66789       tad
Name: 50in, dtype: object

0.2997240826248956 0.9762131390349855 nan

50in
860390000 2991688216 225768216 1905530000

N:  4

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  76606       tad
76615    border
76619       tad
76631    border
Name: 50in, dtype: object

0.4601497635472031 0.9253753801108001 nan

50in
860390000 2991688216 225768216 1905530000

N:  68

counts outside: 3

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  10078    border
23441       tad
23716    border
24091    border
24100       tad
          ...
28528       tad
28573    border
28591    border
28592       tad
28610    border
Name: 50in, Length: 68, dtype: object

0.0017505000727340814 0.9999320738436055 nan

50in
860390000 2991688216 225768216 1905530000

N:  35

counts outside: 1

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  6067      border
6074         tad
7156         tad
9153      border
10099     border
12217     border
12365     border
12405     border
12435        tad
12677     border
26503     border
36367     border
41408     border
55979     border
55987        tad
56046     border
56053     border
56064     border
56070     border
56076     border
56093        tad
56164     border
56176     border
56183     border
56184     border
56201    outside
56220     border
56232     border
56236     border
56245     border
56250        tad
56253        tad
56254     border
56255        tad
56259        tad
Name: 50in, dtype: object

5.414247578578598e-06 0.9999999674158585 nan

50in
860390000 2991688216 225768216 1905530000

N:  5

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  25196       tad
25286    border
25324       tad
25369       tad
25418       tad
Name: 50in, dtype: object

0.895167144466211 0.5538925745491083 nan

50in
860390000 2991688216 225768216 1905530000

N:  36

counts outside: 1

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  145      border
151         tad
286         tad
292      border
306      border
381         tad
397         tad
654      border
679      border
683      border
769     outside
783      border
799         tad
943         tad
1030        tad
1056     border
1237     border
1305        tad
1316        tad
1343        tad
1375     border
1383     border
1724        tad
1752     border
1796        tad
2184     border
2229     border
2233     border
2259     border
2298        tad
2320     border
2335     border
2375        tad
2391     border
2395        tad
2435     border
Name: 50in, dtype: object

0.005825596504127207 0.9997982273399609 nan

50in
860390000 2991688216 225768216 1905530000

N:  55

counts outside: 1

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  10077     border
11294     border
15918     border
15945        tad
16220        tad
16373     border
16406        tad
16430        tad
16634     border
16920     border
17108        tad
17333        tad
17372     border
17533        tad
17569     border
17673     border
17688     border
17720        tad
17854     border
17904        tad
17912     border
17918     border
17958     border
18133     border
18190     border
18205     border
18251     border
18260     border
22649        tad
22711     border
22753        tad
22912        tad
22938     border
23080     border
23156     border
23243     border
23263        tad
24259        tad
24260     border
24286        tad
24303     border
24340        tad
24354     border
24373        tad
24387        tad
24401        tad
24495        tad
24507        tad
24524        tad
24547        tad
24609        tad
24631    outside
24703     border
24722     border
24797        tad
Name: 50in, dtype: object

0.004374373951205662 0.9999455875072897 nan

50in
860390000 2991688216 225768216 1905530000

N:  22

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  10726       tad
21495       tad
25095       tad
25113    border
25150    border
25192       tad
25220       tad
25261       tad
51663    border
58098    border
77562    border
77569    border
77598    border
77605       tad
77624    border
77628    border
77679    border
77686    border
77706    border
77717       tad
77719       tad
77720    border
Name: 50in, dtype: object

0.024712921313977086 0.9992924878246372 nan

50in
860390000 2991688216 225768216 1905530000

N:  1

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  58456    border
Name: 50in, dtype: object

0.3630586169573728 1.0 nan

50in
860390000 2991688216 225768216 1905530000

N:  6

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  8906     border
9152     border
28726       tad
31551    border
36514       tad
51157    border
Name: 50in, dtype: object

0.13212638114788766 0.991024604238344 nan

50in
50in
860390000 2991688216 225768216 1905530000

N:  1

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  55915    border
Name: 50in, dtype: object

0.3630586169573728 1.0 nan

50in
860390000 2991688216 225768216 1905530000

N:  1

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  21657    border
Name: 50in, dtype: object

0.3630586169573728 1.0 nan

50in
860390000 2991688216 225768216 1905530000

N:  1

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  56541    border
Name: 50in, dtype: object

0.3630586169573728 1.0 nan

50in
860390000 2991688216 225768216 1905530000

N:  2

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  57444    border
66790       tad
Name: 50in, dtype: object

0.594305692250603 0.9172899632200424 nan

50in
860390000 2991688216 225768216 1905530000

N:  1

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  79738    border
Name: 50in, dtype: object

0.3630586169573728 1.0 nan

50in
50in
860390000 2991688216 225768216 1905530000

N:  29

counts outside: 2

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  4153         tad
13272     border
26133     border
26228     border
26239        tad
26283        tad
26303    outside
26333     border
26336        tad
26339        tad
26401    outside
26439        tad
26466        tad
26491     border
26492        tad
26493        tad
26495     border
26500     border
26531     border
26535        tad
26539        tad
26543        tad
26548     border
26552     border
26558        tad
26559        tad
26568        tad
26578        tad
26584     border
Name: 50in, dtype: object

0.22125166656309117 0.9000180248786978 nan

50in
860390000 2991688216 225768216 1905530000

N:  2

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  16949    border
50831    border
Name: 50in, dtype: object

0.13181159879045892 1.0 nan

50in
50in
860390000 2991688216 225768216 1905530000

N:  13

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  663      border
1393     border
10083    border
23447       tad
24092    border
24101       tad
24147       tad
34106       tad
34123       tad
34135       tad
34144    border
34173    border
34186    border
Name: 50in, dtype: object

0.152336929286806 0.9860216439005295 nan

50in
860390000 2991688216 225768216 1905530000

N:  15

counts outside: 1

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  4477      border
12787     border
18427     border
26534     border
26538        tad
26546        tad
26551     border
26555     border
29505        tad
29508     border
41579    outside
42778        tad
42779     border
42781        tad
42783        tad
Name: 50in, dtype: object

0.05310246759679102 0.9886116913988098 nan

50in
860390000 2991688216 225768216 1905530000

N:  11

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  46151       tad
46152       tad
46153    border
46154    border
46157    border
46158    border
46159    border
46160    border
46161       tad
46162       tad
46163       tad
Name: 50in, dtype: object

0.1716861655640323 0.9829691570037583 nan

50in
860390000 2991688216 225768216 1905530000

N:  1

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  56838    border
Name: 50in, dtype: object

0.3630586169573728 1.0 nan

50in
860390000 2991688216 225768216 1905530000

N:  9

counts outside: 2

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  56689     border
56709     border
56714     border
56734        tad
56745    outside
56764     border
56766        tad
56775    outside
56804     border
Name: 50in, dtype: object

0.013983393208238876 0.9795288660205363 nan

50in
50in
860390000 2991688216 225768216 1905530000

N:  65

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  4473     border
10073    border
11292    border
11554    border
13325       tad
          ...
18422    border
18423    border
18426    border
18431       tad
18436       tad
Name: 50in, Length: 65, dtype: object

0.006049952307416728 0.9999805157653268 nan

50in
860390000 2991688216 225768216 1905530000

N:  4

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  27907       tad
33648       tad
42802    border
42819       tad
Name: 50in, dtype: object

0.8354120592713822 0.673511903826026 nan

50in
860390000 2991688216 225768216 1905530000

N:  7

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  18271    border
21500       tad
70759    border
83726    border
84878    border
84906    border
84919       tad
Name: 50in, dtype: object

0.06478276832471741 0.9970156445522781 nan

50in
860390000 2991688216 225768216 1905530000

N:  36

counts outside: 1

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  10082     border
16080     border
16926     border
17905        tad
17959     border
22910        tad
32361        tad
32373        tad
32375     border
32397     border
32402     border
32404        tad
32449     border
32472        tad
32572        tad
32641     border
32747        tad
32860     border
32914     border
32927     border
32965    outside
32973     border
32995     border
33027     border
33161        tad
33195     border
33204     border
33236        tad
33287        tad
33296     border
33339        tad
33399        tad
33401        tad
33402        tad
33403     border
33411     border
Name: 50in, dtype: object

0.005825596504127207 0.9997982273399609 nan

50in
860390000 2991688216 225768216 1905530000

N:  2

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  66489    border
66495    border
Name: 50in, dtype: object

0.13181159879045892 1.0 nan

50in
860390000 2991688216 225768216 1905530000

N:  4

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  1756     border
23451       tad
58637    border
58642       tad
Name: 50in, dtype: object

0.4601497635472031 0.9253753801108001 nan

50in
860390000 2991688216 225768216 1905530000

N:  9

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  23450       tad
23719    border
25112    border
25149    border
25249       tad
25258       tad
49645       tad
58077    border
58532    border
Name: 50in, dtype: object

0.19450614554075596 0.9795288660205363 nan

50in
860390000 2991688216 225768216 1905530000

N:  12

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  1806        tad
10104    border
23452       tad
23530       tad
23598    border
24095    border
24105       tad
24150       tad
64660    border
64764    border
64776       tad
64782       tad
Name: 50in, dtype: object

0.45480786310647464 0.9008277028759002 nan

50in
860390000 2991688216 225768216 1905530000

N:  15

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  8901     border
9139     border
10080    border
21342    border
30897    border
30943       tad
31356    border
31393       tad
31451    border
31469       tad
31490       tad
31500    border
31538       tad
31548    border
31570    border
Name: 50in, dtype: object

0.01647628080722253 0.9995507418817298 nan

50in
860390000 2991688216 225768216 1905530000

N:  10

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  16948    border
32928    border
32977    border
32999    border
33028    border
33340       tad
55785    border
55791       tad
55816       tad
55831    border
Name: 50in, dtype: object

0.0320308083423979 0.9988314364966788 nan

50in
860390000 2991688216 225768216 1905530000

N:  51

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  10074    border
11293    border
15916    border
15942       tad
16219       tad
16405       tad
16429       tad
16633    border
16919    border
17107       tad
17330       tad
17367    border
17532       tad
17568    border
17672    border
17687    border
17719       tad
17851    border
17903       tad
17911    border
17917    border
17957    border
18132    border
18189    border
18204    border
18249    border
18259    border
22645       tad
22665       tad
22668    border
22710    border
22750       tad
22767       tad
22829       tad
22840       tad
22846       tad
22870    border
22880       tad
22909       tad
22911       tad
22936    border
22944    border
22951    border
22971    border
23078    border
23155    border
23223       tad
23231    border
23242    border
23262       tad
23280       tad
Name: 50in, dtype: object

0.0022074621111957825 0.9999926934365408 nan

50in
860390000 2991688216 225768216 1905530000

N:  8

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  25094       tad
25200       tad
27758       tad
33425    border
33502       tad
33560       tad
33627    border
33646       tad
Name: 50in, dtype: object

0.8493835192048448 0.5833680586782082 nan

50in
860390000 2991688216 225768216 1905530000

N:  8

counts outside: 0

snp counts:  {'total': 2998, 'tad': 1353, 'border': 1551, 'outside': 93}

tads:  25060       tad
25092       tad
25106    border
25145    border
25191       tad
25195       tad
25248       tad
25252       tad
Name: 50in, dtype: object

0.8493835192048448 0.5833680586782082 nan

50in
860390000 2991688216 225768216 1905530000

N:  19

counts outside: 1


In [74]:
from scipy.stats import hypergeom

# Example with smaller numbers to see if the CDF calculation works
cdf_outside = hypergeom.cdf(1, 1000000000, 50, 2000000)
print(cdf_outside)

0.9954028136720371

In [63]:
cdf_outside = hypergeom.cdf(1, 2991688216, 55, 225768216)
cdf_outside

nan

In [21]:
tad_borders

{'50in': [50000, 0]}

In [24]:
cdf_outside = hypergeom.cdf(counts['outside'], cur_cl, N, cur_nl)

In [70]:
cdf_outside = sm.stats.hypergeom.cdf(counts['outside'], cur_cl, N, cur_nl)
cdf_outside

AttributeError: module 'statsmodels.stats.api' has no attribute 'hypergeom'

In [29]:
cdf_border = hypergeom.cdf(counts['border'], cur_cl, N, cur_bl)
cdf_border

1.0

In [31]:
cdf_tad = hypergeom.cdf(counts['tad'], cur_cl, N, cur_tl)
cdf_tad

0.3630586169573728

In [22]:
cur_nl

225768216

In [33]:
cur_cl

2991688216

In [19]:
snp_counts

{'total': 19020, 'tad': 12655, 'border': 6187, 'outside': 177}

In [20]:
counts

Counter({'border': 1})

In [14]:
df_enr.head()

,diseaseId,#snp,#border_snp,pval_tad,pval_border,pval_outside,TAD_type
0,EFO_0000094,7,3,0.502408,0.110523,NaN,50in
1,EFO_0000095,48,26,0.991328,0.000062,NaN,50in
2,EFO_0000096,8,3,0.397055,0.172196,NaN,50in
3,EFO_0000174,5,1,0.104833,0.446107,NaN,50in
4,EFO_0000178,5,3,0.744214,0.026335,NaN,50in

# Multiple-testing correction

In [15]:
df_enr['is_cancer'] = df_enr['diseaseId'].apply(lambda x: disease_cancer_map[x])
df_enr.head()

,diseaseId,#snp,#border_snp,pval_tad,pval_border,pval_outside,TAD_type,is_cancer
0,EFO_0000094,7,3,0.502408,0.110523,NaN,50in,False
1,EFO_0000095,48,26,0.991328,0.000062,NaN,50in,False
2,EFO_0000096,8,3,0.397055,0.172196,NaN,50in,False
3,EFO_0000174,5,1,0.104833,0.446107,NaN,50in,True
4,EFO_0000178,5,3,0.744214,0.026335,NaN,50in,True

In [16]:
df_enr_tmp = df_enr.copy()
df_enr_tmp['is_cancer'] = df_enr_tmp['diseaseId'].apply(lambda x: disease_cancer_map[x])
df_enr_corr = df_enr_tmp.groupby(['TAD_type', 'is_cancer'])[
    ['pval_border', 'pval_tad', 'pval_outside']
].transform(multipletests_nan)

df_enr['pval_border__notcorrected'] = df_enr['pval_border']
df_enr['pval_outside__notcorrected'] = df_enr['pval_outside']
df_enr['pval_tad__notcorrected'] = df_enr['pval_tad']

df_enr['pval_border'] = df_enr_corr['pval_border']
df_enr['pval_outside'] = df_enr_corr['pval_outside']
df_enr['pval_tad'] = df_enr_corr['pval_tad']

In [17]:
df_enr.head()

,diseaseId,#snp,#border_snp,pval_tad,pval_border,pval_outside,TAD_type,is_cancer,pval_border__notcorrected,pval_outside__notcorrected,pval_tad__notcorrected
0,EFO_0000094,7,3,0.748295,0.282839,NaN,50in,False,0.110523,NaN,0.502408
1,EFO_0000095,48,26,0.999989,0.000648,NaN,50in,False,0.000062,NaN,0.991328
2,EFO_0000096,8,3,0.643397,0.375247,NaN,50in,False,0.172196,NaN,0.397055
3,EFO_0000174,5,1,0.483844,0.557634,NaN,50in,True,0.446107,NaN,0.104833
4,EFO_0000178,5,3,0.905222,0.098757,NaN,50in,True,0.026335,NaN,0.744214

# Save result

In [18]:
df_enr.to_csv(fname_out, index=False)
df_enr.head()

NameError: name 'fname_out' is not defined